<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project_5headers.com.team_project.mapper.ProductMapper">

    <resultMap id="ProductResultMap" type="project_5headers.com.team_project.entity.Product">
        <id property="productId" column="product_id"/>
        <result property="estimateId" column="estimate_id"/>
        <result property="name" column="name"/>
        <result property="onlinePrice" column="online_price"/>
        <result property="onlineLink" column="online_link"/>
        <result property="offlinePrice" column="offline_price"/>
        <result property="offlineStore" column="offline_store"/>
        <result property="offlineLink" column="offline_link"/>
    </resultMap>

    <insert id="addProduct">
        INSERT INTO product_tb (estimate_id, name, category, online_price, online_link, offline_price, offline_store, offline_link)
        VALUES (#{estimateId}, #{name}, #{category}, #{onlinePrice}, #{onlineLink}, #{offlinePrice}, #{offlineStore}, #{offlineLink})
    </insert>

    <select id="getProductById" resultMap="ProductResultMap">
        SELECT * FROM product_tb WHERE product_id = #{productId}
    </select>

    <select id="getProductsByEstimateId" resultMap="ProductResultMap">
        SELECT * FROM product_tb WHERE estimate_id = #{estimateId}
    </select>

    <update id="updateProduct">
        UPDATE
        product_tb
        SET
        name = #{name},
        online_price = #{onlinePrice},
        online_link = #{onlineLink},
        offline_price = #{offlinePrice},
        offline_store = #{offlineStore},
        offline_link = #{offlineLink}
        WHERE
        product_id = #{productId}
    </update>

    <delete id="removeProductById">
        DELETE FROM product_tb WHERE product_id = #{productId}
    </delete>

</mapper>
