<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project_5headers.com.team_project.mapper.RoleMapper">

    <resultMap id="RoleResultMap" type="project_5headers.com.team_project.entity.Role">
        <id property="roleId" column="role_id"/>
        <result property="roleName" column="role_name"/>
        <result property="roleNameKor" column="role_name_kor"/>
    </resultMap>

    <insert id="addRole">
        INSERT INTO role_tb (role_name, role_name_kor)
        VALUES (#{roleName}, #{roleNameKor})
    </insert>

    <select id="getRoleById" resultMap="RoleResultMap">
        SELECT * FROM role_tb WHERE role_id = #{roleId}
    </select>

    <select id="getRoleByName" resultMap="RoleResultMap">
        SELECT * FROM role_tb WHERE role_name = #{roleName}
    </select>

    <select id="getRoleList" resultMap="RoleResultMap">
        SELECT * FROM role_tb ORDER BY role_id
    </select>

</mapper>
