<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project_5headers.com.team_project.mapper.UserRoleMapper">

    <resultMap id="RoleResultMap" type="project_5headers.com.team_project.entity.Role">
        <id property="roleId" column="role_id"/>
        <result property="roleName" column="role_name"/>
        <result property="roleNameKor" column="role_name_kor"/>
    </resultMap>

    <resultMap id="UserRoleResultMap" type="project_5headers.com.team_project.entity.UserRole">
        <id property="userRoleId" column="user_role_id"/>
        <result property="userId" column="user_id"/>
        <result property="roleId" column="role_id"/>
        <result property="createDt" column="create_dt"/>
        <result property="updateDt" column="update_dt"/>
        <association property="role" resultMap="RoleResultMap"/>
    </resultMap>

    <!-- UserRole 추가 -->
    <insert id="addUserRole" useGeneratedKeys="true" keyProperty="userRoleId">
        INSERT INTO user_role_tb (user_id, role_id, create_dt, update_dt)
        VALUES (#{userId}, #{roleId}, NOW(), NULL)
    </insert>

    <!-- UserRole 조회 -->
    <select id="getUserRoleByUserIdAndRoleId" resultMap="UserRoleResultMap">
        SELECT
        urt.user_role_id,
        urt.user_id,
        urt.role_id AS urt_role_id,
        urt.create_dt AS urt_create_dt,
        urt.update_dt AS urt_update_dt,

        r.role_id,
        r.role_name,
        r.role_name_kor
        FROM user_role_tb urt
        LEFT JOIN role_tb r ON urt.role_id = r.role_id
        WHERE urt.user_id = #{userId} AND urt.role_id = #{roleId}
    </select>

    <!-- UserRole 업데이트 -->
    <update id="updateRoleId">
        UPDATE user_role_tb
        SET role_id = 2,
        update_dt = NOW()
        WHERE user_role_id = #{userRoleId} AND user_id = #{userId}
    </update>

    <!-- UserRole 삭제 (회원탈퇴 시 사용) -->
    <delete id="removeRolesByUserId">
        DELETE FROM user_role_tb
        WHERE user_id = #{userId}
    </delete>

</mapper>
