<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project_5headers.com.team_project.mapper.UserMapper">

    <resultMap id="UserResultMap" type="project_5headers.com.team_project.entity.User">
        <id property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="createDt" column="create_dt"/>
        <result property="updateDt" column="update_dt"/>
    </resultMap>

    <insert id="addUser" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO user_tb (username, email, password, create_dt)
        VALUES (#{username}, #{email}, #{password}, NOW())
    </insert>


    <!--    <select id="getUserById" resultMap="UserResultMap">-->
    <select id="getUserByUserId" resultMap="UserResultMap">
        SELECT * FROM user_tb WHERE user_id = #{userId}
    </select>

<!-- 기존 XML에는 없어서 Repository의 getUserByUsername 호출시 오류 발생하여 추가함 -->
    <select id="getUserByUsername" resultMap="UserResultMap">
        SELECT * FROM user_tb WHERE username = #{username}
    </select>

<!--    기존 XML에는 없어서 Repository의 changePassword 호출 시에 오류가 발생하여 추가함-->
    <update id="updatePassword">
        UPDATE user_tb
        SET password = #{password},
        update_dt = NOW()
        WHERE user_id = #{userId}
    </update>


    <select id="getUserByEmail" resultMap="UserResultMap">
        SELECT * FROM user_tb WHERE email = #{email}
    </select>

    <select id="getUserList" resultMap="UserResultMap">
        SELECT * FROM user_tb ORDER BY create_dt DESC
    </select>

    <update id="updateUser">
        UPDATE user_tb
        SET username = #{username},
        email = #{email},
        password = #{password},
        update_dt = NOW()
        WHERE user_id = #{userId}
    </update>

    <delete id="removeUserById">
        DELETE FROM user_tb WHERE user_id = #{userId}
    </delete>

</mapper>
